@model IEnumerable<Nike.Models.KhachHang>

@{
    ViewBag.Title = "Quản lí khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_layoutadmin.cshtml";
    ViewBag.dsKH = Model.ToList();
}

<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách khách hàng</b></a></li>
    </ul>
    <div id="clock"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

                <div class="row">
                    <div class="col-sm-12 col-md-6">

                    </div>
                    <div class="col-sm-12 col-md-6">
                        @using (Html.BeginForm("Index", "KhachHang", FormMethod.Get, new { @class = "dataTables_filter d-flex justify-content-end" }))
                        {
                            <label>
                                Tìm kiếm:

                                @Html.TextBox("searchString", null, new { @class = "form-control form-control-sm" })

                            </label>
                        }
                    </div>
                </div>
                <dov class="row">
                    <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                           id="sampleTable">
                        <thead>
                            <tr>

                                <th>
                                    Họ Tên
                                </th>

                                <th>
                                    Email
                                </th>
                                <th>
                                    Ảnh đại diện
                                </th>
                                <th>
                                    Địa chỉ
                                </th>
                                <th>
                                    Ngày sinh
                                </th>
                                <th>
                                    Số CMT
                                </th>
                                <th>
                                    Số điện thoại
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.dsKH)
                            {
                                <tr>
                                    <td>
                                        @item.FullName()
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        <img src="~/Hinh/KhachHang/@Url.Content( @item.Picture)" width="100" height="100" />
                                    </td>
                                    <td>
                                        @item.Address
                                    </td>
                                    <td>@(item.NgaySinh?.ToString("dd/MM/yyyy"))</td>
                                    <td>
                                        @item.CMT
                                    </td>
                                    <td>
                                        @item.Sdt
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </dov>

            </div>
        </div>
    </div>
</div>

