@model Nike.Models.Product

@{
    ViewBag.Title = "Sửa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_layoutadmin.cshtml";
}

@using (Html.BeginForm("Edit", "Product", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <h3 class="tile-title">Chỉnh sửa sản phẩm</h3>
                    <div class="tile-body">
                      
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="control-label">Mã sản phẩm </label>
                                @Html.EditorFor(model => model.ProductCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Tên sản phẩm </label>
                                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group  col-md-3">
                                <label class="control-label">Nhập hàng</label>
                                @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-3 ">
                                <label class="control-label">Đã bán</label>
                                @Html.EditorFor(model => model.ProductSold, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ProductSold, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-3">
                                <label for="exampleSelect1" class="control-label">Danh mục</label>
                                @Html.DropDownList("CatalogId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CatalogId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-3 ">
                                <label for="exampleSelect1" class="control-label">Giảm giá</label>
                                @Html.EditorFor(model => model.ProductSale, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ProductSale, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-3">
                                <label class="control-label">Giá vốn</label>
                                @Html.EditorFor(model => model.PriceOld, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PriceOld, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Giá bán</label>
                                <input class="form-control" value="@string.Format("{0:#,0}", Model.UnitPrice) đ" disabled />
                            </div>
                            <div class="form-group col-md-12">
                                <label class="control-label">Ảnh sản phẩm</label>
                                <div id="myfileupload">
                                    <input type="file" name="file" id="file" style="width: 100%;" />
                                    @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                                </div>
                                <div id="thumbbox">
                                    <img height="450" width="400" alt="Thumb image" id="thumbimage"
                                         style="display: none" />
                                    <a class="removeimg" href="javascript:"></a>
                                </div>
                                <div id="boxchoice">
                                    <a href="javascript:" class="Choicefile">
                                        <i class="fas fa-cloud-upload-alt"></i>
                                        Chọn ảnh
                                    </a>
                                    <p style="clear:both"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <input type="submit" value="Chỉnh sửa thông tin sản phẩm" class="btn btn-save" />
                    <a class="btn btn-cancel" href="@Url.Action("Index","Product")">Hủy bỏ</a>
                </div>
            </div>
        </div>
    </div>
}

