@using Nike.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Nike.Models.Product>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_layoutadmin.cshtml";
}



<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách sản phẩm</b></a></li>
    </ul>
    <div id="clock"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">

                        <a class="btn btn-add btn-sm" href="@Url.Action("Create","Product")">
                            <i class="fas fa-plus"></i>
                            Tạo mới sản phẩm
                        </a>
                    </div>

                </div>

                <div class="row" style="align-items:center">
                    <div class="col-sm-12 col-md-6">
                        <span>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount</span>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        @using (Html.BeginForm("Index", "Product", FormMethod.Get, new { @class = "dataTables_filter d-flex justify-content-end" }))
                        {
                            <label>
                                Tìm kiếm:

                                @Html.TextBox("searchString", null, new { @class = "form-control form-control-sm", @placeholder = "Nhập tên hoặc nhãn hiệu" })

                            </label>
                        }
                    </div>
                </div>
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                        <tr>

                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Ảnh</th>
                            <th>Số lượng</th>
                            <th>Tình trạng</th>
                            <th>Giá tiền</th>
                            <th>Nhãn hiệu</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.products)
                        {
                            <tr>

                                <td>@item.ProductCode</td>
                                <td>@item.ProductName</td>
                                <td>
                                    @if (item.Picture == null)
                                    {
                                        <img src="~/Hinh/Product/hinhphone.jpg" alt="Image" width="100" height="100" />
                                    }
                                    else
                                    {
                                        <img src="~/Hinh/Product/@Url.Content(@item.Picture)" alt="Image" width="100" height="100" />
                                    }
                                </td>

                                <td>
                                    @if (@item.SoLuong >= 0)
                                    {
                                        @item.SoLuong
                                    }
                                    else
                                    { <p>0</p>}
                                </td>
                                <td>
                                    @if (@item.SoLuong > 0)
                                    {
                                        <span class="badge bg-success">Còn hàng</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">Hết hàng</span>
                                    }
                                </td>
                                <td>@string.Format("{0:#,0}", item.UnitPrice) đ</td>
                                <td>@item.Catalog.CatalogName</td>
                                <td>
                                    <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                                            onclick="location.href='@Url.Action("Delete", "Product",new { id = item.Id })'">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <button class="btn btn-primary btn-sm edit" type="button" title="Sửa"
                                            onclick="location.href='@Url.Action("Edit", "Product",new { id = item.Id })'">
                                        <i class="fas fa-edit"></i>
                                    </button>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                @* Tạo liên kết các trang *@
                @if (@Model.PageCount > 1)
                {
                    <div class="MenuTrang pagination">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
                          new PagedListRenderOptions()
                          {
                              LiElementClasses = new[] { "paginate_button page-item page-link" },
                              UlElementClasses = new[] { "pagination" }
                          })
                    </div>
                }


            </div>
        </div>
    </div>
</div>