@using Nike.Models
@model List<Giohang>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QuanLySanPhamEntities _db = new QuanLySanPhamEntities();

}


@{ if (Session["Giohang"] != null)
    {
        if (Model.Count != 0)
        {
            <div class="grid">
                <div class="cart app__content">
                    <div class="cart-list">
                        <div class="cart-list__header row">
                            <span class="grid-cart-column-6 cart-list__header-title">Sản phẩm</span>
                            <span class="grid-cart-column-1">đơn giá</span>
                            <span class="grid-cart-column-1">Số lượng</span>
                            <span class="grid-cart-column-1">Số tiền</span>
                            <span class="grid-cart-column-1">Thao tác</span>
                        </div>
                        <hr>
                        <div class="cart-list__body">
                            @foreach (var item in Model)
                            {
                                using (Html.BeginForm("Capnhatgiohang", "Giohang", new { @IdProduct = item.IdProduct }))
                                {
                                    <div class="cart-list__product row">
                                        <div class="grid-cart-column-6 cart__product-item">
                                            <img src="~/Hinh/Product/@Url.Content(@item.Picture)" alt="Product_img" class="cart__product-img">
                                            <span class="cart__product-name">@item.ProductName</span>
                                        </div>
                                        <span class="grid-cart-column-1">@string.Format("{0:#,0}", item.DonGia) ₫</span>
                                        <input class="grid-cart-column-1" type="number" min="1" name="txtSoLuong" value="@item.SoLuong" />
                                        <span class="grid-cart-column-1">@string.Format("{0:#,0}", item.Price) ₫</span>
                                        <div class="grid-cart-column-1 cart__button">
                                            @Html.ActionLink("Xóa", "Xoagiohang", new { @Idproduct = item.IdProduct }, new { @class = "btn cart__button-delete btn--danger" })
                                            <input type="submit" value="Cập nhật" class="btn cart__button-update btn--success" />
                                        </div>
                                    </div>
                                    <hr>
                                }
                            }
                        </div>

                        <div class="cart-list__footer row">
                            <div class="grid-cart-column-6 cart__total">Tổng số lượng sản phẩm: @ViewBag.Tongsoluong</div>
                            <span class="grid-cart-column-1"></span>
                            <span class="grid-cart-column-1"></span>
                            <span class="grid-cart-column-1">Tổng tiền: @String.Format("{0:#,0}", ViewBag.Tongtien) ₫</span>
                            <div class="grid-cart-column-1 cart__button">
                                @Html.ActionLink("Xóa giỏ hàng", "DeleteAll", "GioHang", new { @class = "btn cart__button-deleteAll btn--danger" })
                                @*@{
          KhachHang khsession = (KhachHang)Session["Taikhoan"];
          if (khsession != null){
              KhachHang kh = _db.KhachHangs.Find(khsession.idUser);
              @Html.ActionLink("Đặt hàng", "DatHang", "GioHang", new { @class = "btn cart__button-order" })
          }else
              {
              @Html.ActionLink("Đặt hàng", "DatHangkoTK", "GioHang", new { @class = "btn cart__button-order" })
              }
        }*@
                                @Html.ActionLink("Đặt hàng", "DatHang", "GioHang", new { @class = "btn cart__button-order" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="cart--no-card">
                <div class="cart--no-card-class">
                    <div class="cart--no-card-icon-class">
                        <div class="cart--no-card-icon"></div>
                    </div>
                    <div class="cart--no-card-title">Giỏ hàng của bạn trống</div>
                    <div class="cart--no-card-button">
                        <button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn--primary">MUA NGAY</button>
                    </div>
                </div>
            </div>
        }
    }
}


