@model Nike.Models.KhachHang

@{
    ViewBag.Title = "Sửa hồ sơ";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="grid row" style="text-align:center">
    <div class="form-horizontal">

        <h4>Thông tin tài khoản</h4>
        <hr />
        @using (Html.BeginForm("EditProFile", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "validate" })
            @Html.HiddenFor(model => model.idUser)
            @Html.ValidationSummary(true, "", new { @class = "validate" })
            @Html.HiddenFor(model => model.Password)
            @Html.ValidationSummary(true, "", new { @class = "validate" })
            @Html.HiddenFor(model => model.ConfirmPassword)

            <div class="grid__row">
                <div class=" grid__column-2-4">
                    <h5>Tên</h5>
                    <div class="grid__full-width">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "validate" })
                    </div>
                </div>
                <div class=" grid__column-2-4">
                    <h5>Họ</h5>
                    <div class="grid__full-width">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "validate" })
                    </div>
                </div>
                <div class=" grid__column-2-4">
                    <h5>Ngày sinh</h5>
                    <div class="grid__full-width">
                        @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "validate" })
                    </div>
                </div>
                <div class=" grid__column-2-4">
                    <h5>Chứng minh thư</h5>
                    <div class="grid__full-width">
                        @Html.EditorFor(model => model.CMT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CMT, "", new { @class = "validate" })
                    </div>
                </div>

                <div class=" grid__column-2-4">
                    <h5>Email</h5>
                    <div class="grid__full-width">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validate" })
                    </div>
                </div>
                <div class="" style="width: 50%; padding: 0 5px">
                    <h5>Địa chỉ</h5>
                    <div class="grid__full-width">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "validate" })
                    </div>
                </div>
                <div class=" grid__column-2-4">
                    <h5>Số điện thoại</h5>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sdt, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sdt, "", new { @class = "validate" })
                    </div>
                </div>

                  <div class="grid__column-2-5"></div>
                  <div class="grid__column-2-5"></div>

                  <div class="grid__column-2-5">
                      <h5>Ảnh đại diện</h5>
                      <div id="myfileupload" class="col-md-10">
                          <input type="file" name="file" id="file" class="form-control" />
                          @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "validate" })
                      </div>
                  </div>
                  <div class="grid__column-2-5"></div>

                  <div class="grid__column-2-5"></div>


            </div>


            <hr />
            <div class=" center">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sửa" class="btn btn--primary" />
                </div>
                <div>
                    @Html.ActionLink("Quay về", "ProFile", "Account", new { @class = "btn btn--default" })
                </div>
            </div>
        }
    </div>
</div>


