@model Nike.Models.Order
@using Nike.Models
@{
    ViewBag.Title = "Hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QuanLySanPhamEntities _db = new QuanLySanPhamEntities();
}

<div class="grid" id="sampleTable">
    <div class="header__info">
        <div class="header__info--KH">
            <h1>Khách hàng: @Model.KhachHang.FullName()</h1>
            <p>Địa chỉ giao hàng: @Model.KhachHang.Address</p>
            <p>Số điện thoại: @Model.KhachHang.Sdt</p>
            <p>Địa chỉ email: @Model.KhachHang.Email</p>
        </div>
        <div class="header__info--Date">
            <p>Ngày đặt hàng:@(Model.NgayDat?.ToString("dd/MM/yyyy"))</p>
            <p>Ngày giao hàng: @(Model.NgayGiao?.ToString("dd/MM/yyyy"))</p>
            <p>
                Thanh Toán:
                @if (Model.Payment == true)
                {
                    <span>Thanh toán qua ví VNPAY</span>
                }
                else
                {
                    <span>Thanh toán bằng tiền mặt</span>
                }
            </p>
            <p>Trạng thái: @Model.Status</p>
        </div>
    </div>
    <div class="body">
        <ul class="ordList-item__order">
            @foreach (var item in _db.Order_Detail.ToList())
            {
                if (item.ID_Order == Model.ID)
                {

                    <li class="ordList-item__order-item">
                        <div class="ordList-item__order-product">
                            <img src="~/Hinh/Product/@Url.Content(item.Product.Picture)"
                                 alt="" class="ordList-item__order-img">
                            <div class="orderList-item__order-info">
                                <h4 class="ordList-item__order-name"> @item.Product.ProductName  </h4>
                                <span class="ordList-item__order-brand">Phân loại hàng: @item.Product.Catalog.CatalogName</span>
                                <span class="ordList-item__order-quanti">Số lượng: @item.SoLuong</span>
                            </div>
                        </div>
                        <span class="ordList-item__order-price"> @string.Format("{0:#,0}", item.Product.UnitPrice) đ</span>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="ordList-item__footer">
        <div style="padding: 8px">Tổng tiền: <span class="ordList-item__footer-price">  @string.Format("{0:#,0}", Model.ThanhTien) đ</span></div>
    </div>
</div>
<div class="grid" style="text-align: right;margin-bottom: 10px">
    <button class="btn btn--success"
            onclick="myApp.printTable()">
        Xuất hóa đơn
    </button>
</div>

<style>
    .header__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>

<script>
    //In dữ liệu
    var myApp = new function () {
        this.printTable = function () {
            var tab = document.getElementById('sampleTable');
            var win = window.open('', '', 'height=700,width=700');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }
</script>