@using Nike.Models
@model Nike.Models.KhachHang

@{
    ViewBag.Title = "Đơn mua";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="app__container">
    <div class="grid">
        <div class="grid__row app__content">
            <div class="grid__column-2">
                @{
                    Html.RenderPartial("menuProfile");
                }
            </div>


            <div class="grid__column-10">
                <div class="ordList-filter" style="padding:10px">
                    <a href="@Url.Action("OrderList","Account",new {sr = "" })" class="ordList-filter__btn btn">Tất cả</a>
                    <a href="@Url.Action("OrderList","Account",new {sr = "Wait" })" class="ordList-filter__btn btn">Chưa xác nhận</a>
                    <a href="@Url.Action("OrderList","Account",new {sr = "Deli" })" class="ordList-filter__btn btn">vận chuyển</a>
                    <a href="@Url.Action("OrderList","Account",new {sr = "Done" })" class="ordList-filter__btn btn">hoàn thành</a>
                    <a href="@Url.Action("OrderList","Account",new {sr = "Cancel" })" class="ordList-filter__btn btn">Đã hủy</a>

                </div>
                @*@using (Html.BeginForm("OrderList", "Account", FormMethod.Get, new { @class = "dataTables_filter d-flex justify-content-end" }))
                {
                    @Html.TextBox("sr", null, new { @class = "ordList-search", placeholder = "Tìm kiếm theo ID đơn hàng" })
                }*@
                @foreach (var order in ViewBag.orderList)
                {
                    if (order.KhachHangID == Model.idUser)
                    {
                        <div class="ordList-item">
                            <div class="ordList-item__label">
                                <span class="ordList-item__label-id">
                                    #@order.ID
                                    @if (order.Payment == true)
                                    {
                                        <span> đã thanh toán bằng ví VNPAY </span>
                                    }
                                    else
                                    {
                                        <span> chưa thanh toán </span>
                                    }
                                </span>
                                <span>Trạng thái: <span class="ordList-item__label-status">@order.Status</span> </span>

                            </div>

                            <ul class="ordList-item__order">
                                @foreach (var item in ViewBag.orderDetail)
                                {
                                    if (item.ID_Order == order.ID)
                                    {

                                        <li class="ordList-item__order-item">
                                            <div class="ordList-item__order-product">
                                                <img src="~/Hinh/Product/@Url.Content(item.Product.Picture)"
                                                     alt="" class="ordList-item__order-img">
                                                <div class="orderList-item__order-info">
                                                    <h4 class="ordList-item__order-name"> @item.Product.ProductName  </h4>
                                                    <span class="ordList-item__order-brand">Phân loại hàng: @item.Product.Catalog.CatalogName</span>
                                                    <span class="ordList-item__order-quanti">x @item.SoLuong</span>
                                                </div>
                                            </div>
                                            <span class="ordList-item__order-price"> @string.Format("{0:#,0}", item.Product.UnitPrice) đ</span>
                                        </li>
                                    }
                                }

                            </ul>
                            <div class="ordList-item__footer">
                                <div class="ordList-item__footer-date">
                                    <div class="ordList-item__footer-dateOrd">Ngày đặt: @(order.NgayDat?.ToString("dd/MM/yyyy"))</div>
                                </div>

                                <div>
                                    @if (order.Status == "Chưa giao hàng")
                                    {
                                        <button class="btn btn--danger orderList-btn--cancel"
                                                onclick="location.href='@Url.Action("CancelOrder", "Account",new { ID = order.ID })'">
                                            Hủy đơn hàng
                                        </button>
                                    }
                               
                                        <button class="btn btn--success"
                                                onclick="location.href='@Url.Action("HoaDon", "Account",new { ID = order.ID })'">
                                            Xem hóa đơn
                                        </button>
                                    
                                    <span style="border-left: 1px solid black;padding: 8px">Tổng tiền: <span class="ordList-item__footer-price">  @string.Format("{0:#,0}", order.ThanhTien) đ</span></span>

                                </div>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</div>

