@model Nike.Models.KhachHang

@{
    ViewBag.Title = "Trang cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="app__container">
    <div class="grid">
        <div class="grid__row app__content">
            <div class="grid__column-2">
                @{
                    Html.RenderPartial("menuProfile");
                }
            </div>


            <div class="grid__column-10">
                <div class="profile">
                    <div class="profile__heading">
                        <h1 class="profile__heading-title">Hồ Sơ Của Tôi</h1>
                        <div class="profile__heading-mota">Quản lí thông tin hồ sơ để bảo mật tài khoản</div>
                    </div>
                    <hr>
                    <div class="profile_body">
                        <div class="grid__row">
                            <div class="grid__column-8">
                                <table class="profile__info">

                                    <tr class="profile__info-item">
                                        <td class="profile__info-item--label">Email</td>
                                        <td> @Model.Email</td>
                                    </tr>

                                    <tr class="profile__info-item">
                                        <td class="profile__info-item--label">Họ Tên</td>
                                        <td>@Model.FullName()</td>
                                    </tr>
                                    <tr class="profile__info-item">
                                        <td class="profile__info-item--label">Mật khẩu</td>
                                        <td>*******</td>
                                    </tr>
                                    <tr class="profile__info-item">
                                        <td class="profile__info-item--label">Số điện thoại</td>
                                        <td>@Model.Sdt</td>
                                    </tr>
                                    <tr class="profile__info-item">
                                        <td class="profile__info-item--label">Địa chỉ</td>
                                        <td>@Model.Address</td>
                                    </tr>
                                    <tr class="profile__info-item">
                                        <td class="profile__info-item--label">CMND/CMT</td>
                                        <td>@Model.CMT</td>
                                    </tr>
                                    <tr class="profile__info-item">
                                        <td class="profile__info-item--label">Ngày sinh</td>
                                        <td>@(Model.NgaySinh?.ToString("dd-MM-yyyy"))</td>
                                    </tr>
                                    <tr class="profile__info-item">
                                        <td class="profile__info-item--label"></td>
                                        <td>
                                            @Html.ActionLink("Sửa hồ sơ", "EditProFile", "Account", new { idUser = @Model.idUser }, new { @class = "btn btn--primary" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="grid__column-4 center">
                                <div class="profile__avatar">
                                    <div class="profile__avatar-item">
                                        @{ if (Model.Picture != null)
                                            {
                                                <img src="~/Hinh/KhachHang/@Url.Content(Model.Picture)" alt="avatar" class="profile__avatar" />
                                            }
                                           
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    img.profile__avatar {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        background: #dfdfdf;
    }
</style>