@model IEnumerable<Nike.Models.NhanVien>

@{
    ViewBag.Title = "Quản Lí Nhân Viên";
    Layout = "~/Areas/Admin/Views/Shared/_layoutadmin.cshtml";
}

<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách nhân viên</b></a></li>
    </ul>
    <div id="clock"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

                <div class="row element-button">
                    <div class="col-sm-2" style="display:flex;align-items:center">
                        <a class="btn btn-add btn-sm" href="@Url.Action("Create","NhanVien")" title="Thêm">
                            <i class="fas fa-plus"></i>
                            Tạo mới nhân viên
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">

                    </div>
                    <div class="col-sm-12 col-md-6">
                        @* Tìm kiếm nhân viên - Thịnh *@
                        @using (Html.BeginForm("Index", "NhanVien", FormMethod.Get, new { @class = "dataTables_filter d-flex justify-content-end" }))
                        {
                            <label>
                                Tìm kiếm:

                                @Html.TextBox("searchString", null, new { @class = "form-control form-control-sm", @placeholder = "Nhập họ tên" })

                            </label>
                        }
                    </div>
                </div>
                <dov class="row">
                    <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                           id="sampleTable">
                        <thead>
                            <tr class="label">
                                <th>ID</th>
                                <th>Họ và tên</th>
                                <th>Ảnh thẻ</th>
                                <th>Địa chỉ</th>
                                <th>Giới tính</th>
                                <th>SĐT</th>
                                <th>Chức vụ</th>
                                <th>Tính năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.NhanVien)
                            {
                                <tr>

                                    <td>@item.Id</td>
                                    <td>@item.FullName</td>
                                    <td>
                                        @if (item.Picture == null)
                                        {
                                            <img src="~/Hinh/user.jpg" alt="Image" width="100" height="100" />

                                        }
                                        else
                                        {
                                            <img src="~/Hinh/NhanVien/@Url.Content(@item.Picture)" alt="Image" width="100" height="100" />
                                        }
                                    </td>
                                    <td>@item.Address </td>
                                    @{
                                        if (item.Sex == true)
                                        {
                                            <td>Nam</td>
                                        }
                                        else
                                        {
                                            <td>Nữ</td>
                                        }
                                    }
                                    <td>@item.Sdt</td>
                                    <td>@item.ChucVu.ChucVu1</td>
                                    <td class="table-td-center">
                                        <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                                                onclick="location.href='@Url.Action("Delete", "NhanVien",new { id = item.Id })'">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                        <button class="btn btn-primary btn-sm edit" type="button" title="Sửa"
                                                onclick="location.href='@Url.Action("Edit", "NhanVien",new { id = item.Id })'">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="btn btn-primary btn-sm user-btn" type="button" title="Xem thông tin"
                                                onclick="location.href='@Url.Action("Detail", "NhanVien",new { id = item.Id })'">
                                            <i class="fas fa-user"></i>
                                        </button>

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </dov>

            </div>
        </div>
    </div>
</div>

<style>
    tr.label th {
        text-align: center;
    }
    td img {
        object-fit: cover
    }
</style>