@using PagedList.Mvc
@model  PagedList.IPagedList<Nike.Models.Product>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var data = ViewBag.products;
    var totalPage = ViewBag.totalPage;
    var currentSort = ViewBag.currentSort;
    var currentPage = ViewBag.currentPage;
}
<div class="app__container">
    <div class="grid">
        <div class="grid__row app__content">
            <div class="grid__column-2">
                <nav class="category">
                    <h3 class="category__heading">
                        <i class="category__heading-icon fa-solid fa-list"></i> Danh mục
                    </h3>
                    <ul class="category-list">

                        @foreach (var item in ViewBag.catalogs)
                        {
                            <li class="category-item" id="ctg">
                                <a href="@Url.Action("Index","Home", new {sort = @item.CatalogName})" class="category-item__link">@item.CatalogName</a>
                            </li>

                        }
                    </ul>
                </nav>
            </div>
            <div class="grid__column-10">
                <div class="home-filter">
                    <span class="home-filter__label">Sắp xếp theo</span>
                    <button class="home-filter__btn btn">Phổ biến</button>
                    <a href="@Url.Action("Index","Home",new {sort = "new" })" class="home-filter__btn btn btn--primary">Mới nhất</a>
                    <a href="@Url.Action("Index","Home",new {sort = "hot" })" class="home-filter__btn btn">Bán chạy</a>


                    <div class="select-input">
                        <span class="select-input__label">Giá</span>
                        <i class="fa-solid fa-caret-down"></i>
                        <ul class="select-input__list">
                            <li class="select-input__item">
                                <a href="@Url.Action("Index","Home",new { sort = "asc" })" class="select-input__link">Giá: thấp đến cao</a>
                            </li>
                            <li class="select-input__item">
                                <a href="@Url.Action("Index","Home",new { sort = "desc" })" class="select-input__link">Giá: cao đến thấp</a>

                            </li>
                        </ul>
                    </div>
                    <div class="home-filter__page">
                        <span class="home-filter__page-num">
                            <span class="home-filter__page-current">1</span>/14
                        </span>
                        <div class="home-filter__page-control">
                            <a href="" class="home-filter__page-btn home-filter__page-btn--disabled">
                                <i class="home-filter__page-icon fa-solid fa-caret-left"></i>
                            </a>
                            <a href="" class="home-filter__page-btn">
                                <i class="home-filter__page-icon fa-solid fa-caret-right"></i>
                            </a>

                        </div>
                    </div>
                </div>

                <div class="home-product">
                    <div class="grid__row">
                        <!-- product-item -->
                        @foreach (var item in data)
                        {
                            <div class="grid__column-2-4">
                                <a class="home-product__item" href="@Url.Action("Index","SanPham",new { @item.Id })">

                                    <div class="home-product__item-img"
                                         style="background-image: url(/Hinh/@Url.Content(@item.Picture));">
                                    </div>
                                    <h4 class="home-product__item-name">
                                        @item.ProductName
                                    </h4>
                                    <div class="home-product__item-price">
                                        <span class="home-product__item-price-old"> @string.Format("{0:#,0}", item.PriceOld)  </span>
                                        <span class="home-product__item-price-current"> @string.Format("{0:#,0}", item.UnitPrice)</span>
                                    </div>
                                    <div class="home-product__item-action">
                                        <span class="home-product__item-like home-product__item-like--liked">
                                            <i class="home-product__item-like-icon-empty fa-regular fa-heart"></i>
                                            <i class="home-product__item-like-icon-fill fa-solid fa-heart"></i>
                                        </span>
                                        <div class="home-product__item-rate">
                                            <i class="home-product__item-star--gold fa-solid fa-star"></i>
                                            <i class="home-product__item-star--gold fa-solid fa-star"></i>
                                            <i class="home-product__item-star--gold fa-solid fa-star"></i>
                                            <i class="home-product__item-star--gold fa-solid fa-star"></i>
                                            <i class="home-product__item-star--gold fa-regular fa-star"></i>
                                        </div>

                                        <span class="home-product__item-sold">@item.ProductSold đã bán</span>
                                    </div>
                                    <div class="home-product__item-origin">
                                        <span class="home-product__item-brand">@item.Catalog.CatalogName</span>
                                        <span class="home-product__item-origin-name">@item.Catalog.ProductOrigin</span>
                                    </div>
                                    <div class="home-product__favourite">
                                        <i class="fa-solid fa-check"></i> Yêu thích
                                    </div>
                                    <div class="home-product__sale-off">
                                        <span class="home-product__sale-off-percent">@item.ProductSale %</span>
                                        <span class="home-product__sale-off-label">GIẢM</span>
                                    </div>
                                </a>

                            </div>
                        }

                    </div>

                </div>
                <ul class="pagination home-product__pagination">
                    @if (currentPage != 1)
                    {
                        <li class="pagination-item">
                            <a href="@Url.Action("Index","Home",new {pageIndex = currentPage - 1 })" class="pagination-item__link">
                                <i class="pagination-item__icon fas fa-angle-left"></i>
                            </a>
                        </li>
                    }
                    @for (int i = 1; i <= totalPage; i++)
                    {
                        if (String.IsNullOrEmpty(currentSort))
                        {
                            <li class="pagination-item">
                                <a href="@Url.Action("Index","Home",new {pageIndex = i })" class="pagination-item__link">
                                    @i
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="pagination-item">
                                <a href="@Url.Action("Index","Home",new {sort= currentSort ,pageIndex = i })" class="pagination-item__link">
                                    @i
                                </a>
                            </li>
                        }
                    }
                    @if (currentPage != totalPage)
                    {
                        <li class="pagination-item">
                            <a href="@Url.Action("Index","Home",new {pageIndex = currentPage + 1 })" class="pagination-item__link">
                                <i class="pagination-item__icon fas fa-angle-right"></i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>


</div>




